include header

div(class='wraper')
    div(class='content')
        header(class='site-header')
            include siteHeader.pug
        div(class='container')
            div(class='row')
                each val2,index2 in category
                    div(class="col col-lg-12")
                        h2
                            a(
                                href="/cat?id="+val2["id"]
                            ) #{val2['category']}
                    each val,index in discription
                        if (val2['id']==val['category'])
                            include item.pug
    include nav
    include footer